# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/build/
/recorder_data/
/config/
src/com/deliburd/bot/burdbot/BotConstant.java
/sesion_bot_data/
/forvo/
log.txt
/doc/
/bin/
/.apt_generated/
/.idea/
/.settings/
.project
.classpath
.factorypath
BurdBot.iml